/**
 * LOGIN FORM STYLES
 */

.loginFormComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.loginFormTitle {
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin: 0 0 0 0;
}

/**
 * FORMULARIO DE REGISTRO
 */
.loginForm {
  border-radius: 0.2rem;
  box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.5);
  background-color: var(--soft-white);
  justify-content: space-between;
  margin: 2rem 0 0 0;
  padding: 1.2rem;
  width: 650px;
}

.inputsContainer {
  display: flex;
  background-color: lightblue;
  justify-content: space-evenly;
}

/**
 * INPUT DEL FORMULARIO -----> 
 */

.loginFormInput {
  display: inline-flex;
  flex-direction: column;
  margin: 1rem 0 0.6rem 0;
  max-width: 50%;
}

.loginFormInput > label {
  font-weight: 500;
  font-size: 1.2rem;
}

.loginFormInput > input {
  border: 2.5px solid var(--dark-blue);
  border-radius: 0.3rem;
  padding: 0.3rem 0 0.3rem 0.2rem;
  transition: all 0.4s;
}

.loginFormInput > input:focus {
  border: 2.5px solid var(--hard-orange);
  outline: none;
}

.loginFormInput > input:hover {
  border: 2.5px solid var(--hard-orange);
  outline: none;
}

/**
 * BOTON DE SUBMIT
 */

.loginForm > button {
  background-color: none;
  border: 3px solid var(--dark-blue);
  border-radius: 0.3rem;
  display: block;
  margin: 1rem auto 0 auto;
  padding: 0.35rem;
  position: relative;
  transition: all 0.35s;
}

.loginForm > button:hover {
  background-color: var(--hard-orange);
  color: var(--dark-chocolate);
  transform: translateX(2px) translateY(2px);
}

/**
 * SIGNUP DIV
 */

.signUpDiv {
  background-color: var(--soft-white);
  border-radius: 0.2rem;
  box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.5);
  margin: 1rem 0 0 0;
  padding: 1.2rem 2rem;
  text-align: center;
}

#signUpRedirect {
  text-decoration: 2px underline;
  cursor: pointer;
  font-weight: 600;
}

#signUpRedirect:hover {
  color: var(--hard-orange);
}
